.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 20px;
}

.button {
    width: 50px;
    height: 30px;
    border: silver;
    border-radius: 5px;
} 

.mouse_coordinates {
    width: 800px;
    height: 800px;
    margin: 50px;
    background-color: silver;
    border: 2px solid black;
    border-radius: 10px;
}

.mouse_coordinates * {
    display: flex;
}

.value {
    align-items: center;
    font-size: 30px;
}